/* font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif;
Font size: 15px
### Primary

- Very dark blue (main background): hsl(233, 47%, 7%)
- Dark desaturated blue (card background): hsl(244, 38%, 16%)
- Soft violet (accent): hsl(277, 64%, 61%)

### Neutral

- White (main heading, stats): hsl(0, 0%, 100%)
- Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
- Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6) */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container {
    width: 1080px;
    height: 445px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}
@media (max-width: 375px) {
    body {
        justify-content: flex-start;
        height: auto;
    }
    .container {
        width: 325px;
        margin: 80px 25px;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
    }
}
.container .text {
    flex-basis: 50%;
    background-color: hsl(244, 38%, 16%);
    display: flex;
    flex-direction: column;
    padding: 70px;
}
@media (max-width: 375px) {
    .container .text {
        width: 325px;
        display: flex;
        padding: 15px;
        flex-basis: 100%;
        text-align: center;
        flex-wrap: wrap;
        order: 2;
    }
}
.container .text span {
    color: hsl(277, 64%, 61%);
}
.container .text h1 {
    margin-bottom: 25px;
    color: white;
    font-weight: 700;
    font-size: 35px;
}
@media (max-width: 375px) {
    .container .text h1 {
        font-size: 30px;
    }
}
.container .text p {
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    padding-right: 20px;
    margin-bottom: 70px;
    line-height: 1.7;
}
@media (max-width: 375px) {
    .container .text p {
        padding-right: 0;
        padding: 15px;
        margin-bottom: 15px;
    }
}
.container .text .numbers {
    display: flex;
    justify-content: flex-start;
}
@media (max-width: 375px) {
    .container .text .numbers {
        flex-direction: column;
    }
}
.container .text .numbers .box {
    margin-right: 30px;
    text-transform: uppercase;
}
@media (max-width: 375px) {
    .container .text .numbers .box {
        margin-right: 0;
        margin-bottom: 5px;
    }
}
.container .text .numbers .box h2 {
    color: hsl(0, 0%, 100%);
}
.container .text .numbers .box p {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 15px;
}
@media (max-width: 375px) {
    .container .text .numbers .box p {
        padding: 5px;
    }
}
.container .image{
    flex-basis: 50%;
    position: relative;
}
.container .image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsl(277deg 93% 27%);
    top: 0;
    left: 0;
    opacity: 0.5;
}
@media (max-width: 375px) {
    .container .image {
        width: 325px;
        height: 325px;
        order: 1;
    }
    .container .image img {
        max-width: 100%;
    }
}
.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 0;
    color: white;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
@media (max-width: 375px) {
    .attribution {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .attribution span {
        margin-bottom: 10px;
    }
}